@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

$break-large: 1200px;

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Inconsolata", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(145deg, #20282e, #1b2127);

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  text-align: center;
  padding: 3em 1em 5em;
}

.header h1 {
  font-size: 3em;
}

.header h2 {
  font-size: 1.5em;
}

.main {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.card {
  margin: 2em;
  padding: 0.75em;
  border-radius: 8px;
  width: 25%;
  height: auto;
  background: linear-gradient(145deg, #20282e, #1b2127);
  box-shadow: 5px 5px 15px #151a1e, -5px -5px 15px #273038;
  @media screen and (max-width: $break-large) {
    width: 40%;
  }
}

.row {
  margin: 6px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.5em;
  margin: 8px 20px 12px;
  text-align: center;
  text-transform: uppercase;
}

h1,
h2,
h3,
h5 {
  color: #d9dad5;
}

.label {
  width: 48%;
  text-align: right;
}
.stat {
  width: 48%;
  text-align: left;
  font-size: 1.25em;
  color: #c85945;
}

.lvl {
  opacity: 0.6;
}
