@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

$break-large: 1200px;
$break-medium: 800px;

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Inconsolata", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: -webkit-linear-gradient(
    -180deg,
    rgb(64, 92, 104),
    rgb(136, 128, 115)
  );
  background: linear-gradient(-180deg, rgb(64, 92, 104), rgb(136, 128, 115));

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5em;
  text-align: left;
  margin-bottom: 3em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  background: linear-gradient(145deg, #20282e, #1b2127);
  z-index: 3;
}

.header h1 {
  font-size: 1.5em;
  color: rgb(136, 128, 115);
}

.header h2 {
  margin: 0 10px;
  color: #c85945;
  font-size: 1.25em;
}

.main {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.card {
  margin: 2em;
  padding: 0.75em;
  border-radius: 8px;
  width: 40%;
  height: auto;
  background: linear-gradient(145deg, #20282e9b, #1b2127ee);
  // box-shadow: 5px 5px 15px #151a1e, -5px -5px 15px #273038;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  @media screen and (max-width: $break-medium) {
    width: 90%;
    margin: 1em 1em;
    padding: 1em 0.5em;
  }
  @media screen and (min-width: $break-large) {
    width: 25%;
  }
}

.row {
  margin: 6px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.5em;
  margin: 0px 20px 12px;
  text-align: center;
  text-transform: uppercase;
}

h1,
h2,
h3,
h5 {
  color: #d9dad5;
}

.label {
  width: 48%;
  text-align: right;
}
.stat {
  width: 48%;
  text-align: left;
  font-size: 1.25em;
  color: #c85945;
}

.lvl {
  opacity: 0.6;
}

.show-more-button {
  width: 1em;
  height: 1em;
}
.chart-container {
  width: 50%;
}
